In [2]:
import pandas as pd

### Read the Excel file using pandas :-  
```pd.read_excel( file_path );```

This will reaturn a **Dataframe** object

In [3]:
df = pd.read_excel("/Users/akhilsharma/GeekSpace/DATASET/Attribute DataSet.xlsx", header= None
                    , names=["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N",])

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df

,A,B,C,D,E,F,G,H,I,J,K,L,M,N
0,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
1,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
2,1212192089,Casual,Low,0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
3,1190380701,vintage,High,0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
4,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
497,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
498,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
499,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
500,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

#### ```df.head(num)``` - number of record you want to see from **START**.

In [6]:
df.head(5)

,A,B,C,D,E,F,G,H,I,J,K,L,M,N
0,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
1,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
2,1212192089,Casual,Low,0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
3,1190380701,vintage,High,0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
4,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1

#### ```df.tail(num)``` num  of record you want to see from **Bottom**.

In [7]:
df.tail(5)

,A,B,C,D,E,F,G,H,I,J,K,L,M,N
496,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
497,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
498,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
499,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
500,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

### Read the CSV file using pandas :-  
```pd.read_csv( file_path );```

This will reaturn a **Dataframe** object

In [8]:
pd.read_csv("/Users/akhilsharma/GeekSpace/DATASET/haberman.csv")

     30  64   1  1.1
0    30  62   3    1
1    30  65   0    1
2    31  59   2    1
3    31  65   4    1
4    33  58  10    1
..   ..  ..  ..  ...
300  75  62   1    1
301  76  67   0    1
302  77  65   3    1
303  78  65   1    2
304  83  58   2    2

[305 rows x 4 columns]

In [9]:
pd.read_csv("/Users/akhilsharma/GeekSpace/DATASET/haberman.csv", header= None, names = ["Age", 'operationYr', "Nodes", "status"], )

     Age  operationYr  Nodes  status
0     30           64      1       1
1     30           62      3       1
2     30           65      0       1
3     31           59      2       1
4     31           65      4       1
..   ...          ...    ...     ...
301   75           62      1       1
302   76           67      0       1
303   77           65      3       1
304   78           65      1       2
305   83           58      2       2

[306 rows x 4 columns]

### Read The CSV data **seperated by ```@```**

In [10]:
pd.read_csv("/Users/akhilsharma/GeekSpace/DATASET/haberman1.csv", 
            header= None, names = ["Age", 'operationYr', "Nodes", "status"], sep='@')

     Age  operationYr  Nodes  status
0     30           64      1       1
1     30           62      3       1
2     30           65      0       1
3     31           59      2       1
4     31           65      4       1
..   ...          ...    ...     ...
301   75           62      1       1
302   76           67      0       1
303   77           65      3       1
304   78           65      1       2
305   83           58      2       2

[306 rows x 4 columns]

In [11]:
df2 = pd.read_csv('https://raw.githubusercontent.com/rowanz/swagaf/master/data/test.csv')

In [12]:
df2.head(5)

,Unnamed: 0,video-id,fold-ind,startphrase,sent1,sent2,gold-source,ending0,ending1,ending2,ending3
0,0,anetv_pIUpJihiju0,11871,A person shows the bottom of a large dust mop....,A person shows the bottom of a large dust mop.,"Then, the person",gold,places the scrub on the floor then cleans the ...,cleans a gym with the large dust mop.,stops and spray a car with some spray paint.,places the bucket and a bucket.
1,1,anetv_avGe67wRvxA,18444,The camera move and we see a man next to the l...,The camera move and we see a man next to the l...,the lady,gold,stands on a bench in the bar.,put a piece down on the table.,fixes her hair in the camera.,completes a picture and shows a standing room.
2,2,anetv_avGe67wRvxA,18443,The lady stops and adjusts the camera. the cam...,The lady stops and adjusts the camera.,the camera move and we,gold,see a man going down the street.,see a lady kick a scene.,see a man next to the lady.,see a closeup of her hair before sitting down ...
3,3,anetv_avGe67wRvxA,18441,A lady wipes lipstick off her face. The lady then,A lady wipes lipstick off her face.,The lady then,gold,shaves her finished legs.,jostles their face with her hands.,is scrubbing the left with a razor.,lines her lips with a pencil.
4,4,anetv_avGe67wRvxA,18442,The lady then lines her lips with a pencil. Th...,The lady then lines her lips with a pencil.,The lady,gold,pierces her left ear.,gets up and lowers her arms.,stops and adjusts the camera.,shows off a paper and discusses.

In [13]:
a = pd.read_html("https://www.basketball-reference.com/leagues/NBA_2015_totals.html")

In [14]:
type(a)

list

In [15]:
a[0]

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,490,Thaddeus Young,PF,26,TOT,76,68,2434,451,968,...,.655,127,284,411,173,124,25,117,171,1071
671,490,Thaddeus Young,PF,26,MIN,48,48,1605,289,641,...,.682,75,170,245,135,86,17,75,115,685
672,490,Thaddeus Young,PF,26,BRK,28,20,829,162,327,...,.606,52,114,166,38,38,8,42,56,386
673,491,Cody Zeller,C,22,CHO,62,45,1487,172,373,...,.774,97,265,362,100,34,49,62,156,472
674,492,Tyler Zeller,C,25,BOS,82,59,1731,340,619,...,.823,146,319,465,113,18,52,76,205,833

In [16]:
js = pd.read_json("https://api.github.com/repos/pandas-dev/pandas/issues")

HTTPError: HTTP Error 403: rate limit exceeded

In [ ]:
js.columns

In [ ]:
js["user"]

In [17]:
df

,A,B,C,D,E,F,G,H,I,J,K,L,M,N
0,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
1,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
2,1212192089,Casual,Low,0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
3,1190380701,vintage,High,0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
4,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
497,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
498,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
499,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
500,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [26]:
k = df.to_json("test.json")

In [28]:
pd.read_json("test.json")

,A,B,C,D,E,F,G,H,I,J,K,L,M,N
0,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
1,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,None,chiffon,ruffles,animal,1
2,1212192089,Casual,Low,0,L,Summer,o-neck,Petal,natural,microfiber,None,ruffles,animal,0
3,1190380701,vintage,High,0,L,Automn,o-neck,full,natural,polyster,None,None,print,0
4,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,None,None,solid,1
497,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,None,None,None,0
498,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,None,lace,solid,1
499,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
500,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

    Task : 
        1. Create a table attribute dataset and dress dataset 
        2. Do a bulk load for these two table for respective dataset.
        3. Read these dataset in pandas as a dataframe.
        4. Convert dataframe in JSON fromate
        5. store this dataset into mongoDb
        6. In SQL Try to perform left join operation with attribute dataset and dress dataset on column Dress_Id
        7. Write a sql query to find out how many unique dress that we have found based on Dress_ID 
        8. Try to find out how many dress is having recommendation 0.
        9. Try to find out total dress sale for individual dress id.
        10.Try to find out the third highest most selling dress id.